    <h1> Building Facility Management Tool</h1>
    <nav>
        <button id="menu"></button>
        <ul class="navigation">
              <li><a href="/src/index.html">Home</a></li>
              <li><a href="/temples/index.html">Temples</a></li>
              <li><a href="/properties/index.html">Properties</a></li>
              <li><a href="/rooms/index.html">Rooms</a></li>
              <li><a href="/inventory/index.html">Inventory</a></li>
          </ul>          
      </nav>

      src\index.html